<% provide :title, @book.title %>
<div class="book thumbnail">
  <div class="row abox">
    <div class="col-md-5 col-md-offset-1 img-responsive product_img">
      <%= image_tag @book.picture, size: Settings.picture_size,
      class: "img-responsive img-thumbnail product-img" %>
    </div>

    <div class="col-md-6">
      <%= render "book_form" %>

      <div class="row radio" id="mark">
        <%= render "books/mark" %>
      </div>
      <br>
    </div>
    <br>
  </div>
</div>
