<div class="col-md-4 panel panel-danger category">
  <div class="panel-heading">
    <h3><%= link_to category.name, admin_category_path(category) %></h3>
  </div>
  <div class="panel-body">
    <h4><%= category.description %></h4>
    <span class="panel-footer pull-right">
      <strong>
        <%= category.books.count %><%= t "category.number_book"%>
      </strong>
    </span>
  </div>
</div>
