<div class="row">
    <h1><%= t "hello_admin" %></h1>
    <aside class="col-md-4">
      <section>
        <%= link_to t("admin_method.add_book"), new_admin_book_path,
          class: "btn btn-md btn-link" %>
        <%= link_to t("admin_method.manage_category"), admin_categories_path,
          class: "btn btn-md btn-link" %>
      </section>
    </aside>
  </div>
