<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to t("footer.about"), "#" %></li>
      <li><%= link_to t("footer.help"), "#" %></li>
      <li><%= link_to t("footer.contact"), "#" %></li>
    </ul>
  </nav>
</footer>
